Options -MultiViews

RewriteEngine On

# Let HTML pages be reached without typing the .html extension.
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{DOCUMENT_ROOT}/$1.html -f
RewriteRule ^(.+?)/?$ /$1.html [L]
